@charset "utf-8";

body,html {width:100%;height:100%;}
body {background:url(../image/back1.jpg) no-repeat center fixed;
background-size:cover;
}

#login {width:250px;border:1px solid gray;height:110px; padding:10px 5px;
position:absolute;left:50%;top:50%;margin-left:-130px;margin-top:-60px;
/*background:rgba(255,255,255,0.1);*/ border-color:rgba(255,255,255,0.6);
background:transparent;
}

form {
  width: 250px;}
label {
  width:80px; display:inline-block;
  text-align: center;
  padding-top: 10px;  color:#fff;
  text-transform: uppercase;}

input {display:inline-block;
  border: none;  color:#fff;
  /*border-radius: 5px;*/
 /* background-color: #dcdcdc;*/
 background:transparent;
  font-size: 1em;
  line-height: 1em;
  width: 148px;
  border:1px solid rgba(255,255,255,0.4);
  padding: 6px 10px 6px 10px;}
input[type=submit] {
  /*background-color: #1fb684;*/
  background:rgba(255,255,255,0.9);
  color: #000;
  font-weight: bold;
   width: 8em;
  padding: 6px 20px 6px 20px;
  margin-top: 10px;
  text-transform: uppercase;}
input[type=submit]:hover {
  background-color: #000;  color:#fff;
  cursor: pointer;}
p.center {text-align:center;}
p.center a {background:rgba(255,255,255,0.9);
  color: #000;  display:inline-block;
  font-weight: bold;
   width: 8em;
  padding: 6px 20px 6px 20px;
  margin-top: 10px;
  text-transform: uppercase;}
p.center a:hover{background-color: #000;  color:#fff;
  cursor: pointer;}